# ==========================================
# REGLAS ESPECÍFICAS DEL PROYECTO (GeoMIP)
# ==========================================

# Bloquear TODOS los reportes de profiling (Elimina los HTML pesados)
**/profiling/
**/aplicar_estrategia.html

# Bloquear TODOS los entornos virtuales de Python
.venv39/
.venv/
venv/
ENV/
env/

# Bloquear TODOS los Logs de ejecución
*.log
**/.logs/

# Bloquear reportes y hojas de cálculo pesadas
GeoMIP/results/*.xlsx
GeoMIP/results/*.csv
results/

# Scripts temporales
compare_fix.py

# ==========================================
# REGLAS ESTÁNDAR DE PYTHON E IDEs
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.uv/
uv.lock

# IDEs
.vscode/
.idea/
*.swp
.DS_Store